.movie-info{
    margin:0px 50px;
    display:flex;
    width:auto;
    height:auto;
    padding-bottom:15px;
    border-radius:5px;
}

.movie-image{
    margin:10px;
    position:relative;
    display:block;
    width:200px;
    min-width:200px;
    height:294px;
    border-radius:5px;
    align-items:center;

    cursor:pointer;
}

.movie-image:hover .favorite-button{
    transform:scale(2.4, 2.4);
    color:#7dbbb2;
  }

.favorite-button{
    float: left;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    padding: 5px;
    font-weight: bold;
    color:#356965;
    transform:scale(2, 2);
    transition:transform 0.3s, color 0.3s;
}

.movie-text{
    margin-left:20;
    position:relative;
    width:100%;
}